#template {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    position: relative;
    height: 950px;
}

#todo {
    width: 900px;
    height: 700px;
    position: absolute;
    left: 10vw;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);

    font-family: Verdana, Geneva, Arial, sans-serif;
    margin-top: 120px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 10px rgb(211 211 211);
    z-index: 7;
}

#head {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    position: relative;
    padding-top: 24px;
    /* padding-left: 32px; */
    padding-left: 32px;
    padding-bottom: 44px;
    background: #867ec7;
    background: -webkit-linear-gradient(left, #867ec7, #d57272);
    background: -moz-linear-gradient(right, #867ec7, #d57272);
    background: -o-linear-gradient(right, #867ec7, #d57272);
    background: linear-gradient(to right, #867ec7, #d57272);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#head > #today {
    display: grid;
    width: 100%;
}

#today > h1 {
    margin: 0;
    margin-left: 7vw;
    margin-top: 20px;
    font-size: 55px;
    color: #ffffff;
}

.fa-left {
    display: grid;
    position: absolute;
    top: 60px;
    left: 145px;
    color: #ffffff;
    cursor: pointer;
}

.fa-right {
    display: grid;
    position: absolute;
    top: 60px;
    right: 150px;
    color: #ffffff;
    cursor: pointer;
}

@media screen and (max-width: 1830px) {
    #todo {
        width: 850px;
    }
}

@media screen and (max-width: 1730px) {
    #todo {
        left:8vw;
    }
}

@media screen and (max-width: 1620px) {
    #todo {
        left:6vw;
    }
}

@media screen and (max-width:1520px) {
    #todo {
        left:4vw;
    }
}

@media screen and (max-width:1430px) {
    #todo {
        left: 2vw;
    }
}

@media screen and (max-width:1350px) {
    #todo {
        width: 80vw;
        left: 10vw;
    }
    #today > h1 {
        margin-left: 15vw;
    }
}

@media screen and (max-width:1250px) {
    #today > h1 {
        margin-left: 12vw;
    }
}

@media screen and (max-width:1110px) {
    #today > h1 {
        margin-left: 10vw;
    }
    .fa-left {
        left: 125px;
    }
    .fa-right {
        right: 130px;
    }
}

@media screen and (max-width:1000px) {
    #today > h1 {
        margin-left: 8vw;
    }
}

@media screen and (max-width: 890px) {
    #todo {
        left: 0;
        width: 100%;
    }
    #today > h1 {
        font-size: 50px;
        margin-left: 16vw;
    }
    .fa-left {
        left: 45px;
    }
    .fa-right {
        right: 50px;
    }
}

@media screen and (max-width:820px) {
    #today > h1 {
        margin-left: 14vw;
    }
}

@media screen and (max-width: 760px) {
    #today > h1 {
        margin-left: 12vw;
    }
}

@media screen and (max-width: 700px) {
    #today > h1 {
        margin-left: 10vw;
    }
}

@media screen and (max-width: 650px) {
    #today > h1 {
        margin-left: 8vw;
    }
    .fa-left {
        left: 25px;
    }
    .fa-right {
        right: 30px;
    }
}

@media screen and (max-width: 590px) {
    #today > h1 {
        margin-left: 6vw;
    }
}

@media screen and (max-width: 550px) {
    #today > h1 {
        margin-left: 1vw;
    }
}

