@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
 
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  background-color: #fcfcfc;
}
a {
  text-decoration: none;
  color: black;
}
#content {
  width: 85%;
  margin: auto;
  padding: 1%;
}
#content-header {
  margin-bottom: 30px;
  padding: 0 25px;
}
#listTitle {
  font-family: 'GmarketSansMedium';
  font-size: 30px;
  background: #867ec7;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
#recentListBtn, #popularListBtn {
  float: right;
  position: relative;
  top: 20px;
  right: 20px;
  margin-left: 15px;
  font-family: 'GmarketSansMedium';
  font-size: 18px;
  cursor: pointer;
  z-index: 100;
}
.btn-clicked {
  background: #867ec7;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.btn-no-clicked {
  color: #acacad;
}
#itemList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(323px, auto));
  justify-content: center;
}

@media only screen and (max-width: 550px) {
  #listTitle { 
    display: block;
    text-align: center;
    font-size: 20px; 
  }
  #recentListBtn, #popularListBtn {
    position: relative;
    right: 126px;
    margin-left: 8px;
  }
  #itemList {
    margin-top: 60px;
  }
}