.mainCard {
  justify-self: center;
  width: 80%;
  height: 300px;
  margin: 0 25px 50px 25px;
  background-color: white;
  box-shadow: 8px 8px 15px rgb(199, 199, 199);
  border-radius: 4px;
  font-family: 'GmarketSansMedium';
  cursor: pointer;
} 
.cardProfile {
  position: relative;
  height: 50px;
  width: 100%;
}
.profileImg {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 10px 10px;
  background-color: #4977b3;
  border-radius: 40px;
}
.profileId {
  position: absolute;
  top: 15px;
  left: 50px;
  width: 135px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
}
.likeNum {
  display: inline-block
}
.heart {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 10px;
  height: 40px;
  color: rgb(255, 75, 75);
  font-size: 20px;
  line-height: 40px;
}
.likeNum {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 35px;
  height: 40px;
  color: rgb(255, 75, 75);
  font-size: 10px;
  line-height: 40px;
}
.cardImg {
  width: 100%;
  height: 165px;
  background-image: url('../img/cat1.jpg');
  background-size: cover;
}
.cardCtnt {
  width: 235px;
  margin: 15px 20px;
}
.cardTitle {
  margin-bottom: 5px;
  font-size: 18px;
}
.cardRegdate {
  font-size: 13px;
  color: gray;
}