.content {
  position: relative;
  top: 115px;
  width: 85%;
  padding: 1% 7.5%;
}
.content-header {
  margin-bottom: 30px;
  padding: 0 25px;
}
.list-title {
  font-family: 'GmarketSansMedium';
  font-size: 30px;
  background: #867ec7;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.recent-list-btn, .popular-list-btn {
  float: right;
  position: relative;
  top: 20px;
  right: 20px;
  margin-left: 15px;
  font-family: 'GmarketSansMedium';
  font-size: 18px;
  cursor: pointer;
  z-index: 5;
}
.btn-clicked {
  background: #867ec7;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.btn-no-clicked {
  color: #acacad;
}

@media only screen and (max-width: 550px) {
  .list-title { 
    display: block;
    text-align: center;
    font-size: 20px; 
  }
  .recent-list-btn, .popular-list-btn {
    position: relative;
    right: 126px;
    margin-left: 8px;
  }
}
