.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(323px, auto));
  justify-content: center;
}

@media only screen and (max-width: 550px) {
  .item-list {
    margin-top: 60px;
  }
}

/* 스크롤바 */
body::-webkit-scrollbar {
  display: none;
}