@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GmarketSansMedium';
  -ms-user-select: none;
  -moz-user-select: -moz-none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  user-select:none;
  color: #333;
  font-family: 'GmarketSansMedium';
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fcfcfc;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.hidden { display: none !important; }

.display-inline-block { display: inline-block; }