* { user-select: none; }
.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0 4.5%;
  margin-bottom: 25px;
  height: 90px;
  background-color: #ffffff;
  box-shadow: 4px 4px 10px rgb(211, 211, 211);
  font-family: 'GmarketSansBold';
}
.logo > a {
  display: block;
  height: 40px;
  width: 60px;
  margin: 25px 0;
  font-size: 20px;
  line-height: 45px;
  background: #867ec7;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  cursor: pointer;
}
.header-center {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 89px;
}
.header-center > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 500px;
  height: 89px;
}
.header-center span {
  position: relative;
}
.header-center span::after {
  content: ""; 
  position: absolute; 
  bottom: -1px; left: 50%; 
  transform: translateX(-50%); 
  width: 0; height: 2px; 
  background: #867ec7;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  transition: all .2s ease-out;
}
.header-center span:hover::after {
  width: 100%;
}
.header-center a {
  display: inline-block;
  position: relative;
  top: 2px;
  height: 100%;
  color: #acacad;
  font-family: 'GmarketSansMedium';
  font-weight: 600;
}
.header-center a:hover {
  color: #6e6d74;
}
.header-right > * {
  float: right;
  position: relative;
  top: 26px;
}
.header-right > span {
  display: inline-block;
  width: 80px;
}

 /*  */
#logoutBtn {
  height: 40px;
  line-height: 40px;
  margin: 0 0.5vw;
  color: #acacad;
  font-weight: 600;
  cursor: pointer;
}

 /*  */
#myPageBtn {
  padding: 5px 20px 3px 20px;
  border-radius: 30px;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  line-height: 30px;
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}


.header-right > i {
  top: 38px;
  margin-right: 15px;
  color: #acacad;
  cursor: pointer;
}

.right-dot {
  display: none;
}

.right-dot > i {
  position: relative;
  top: 35px;
  float: right;
  font-size: 20px;
  color: #acacad;
  cursor: pointer;
}

.right-hidden-menu {
  display: none;
  position: absolute;
  top: 70px;
  right: 25px;
  width: 140px;
  height: 148px;
  background-color: white;
  box-shadow: 6px 6px 10px rgb(211, 211, 211);
  color: #acacad;
  z-index: 6;
}
.right-hidden-menu > div {
  height : 48px;
  width: 140px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.right-hidden-menu > div:hover {
  color: #6e6d74;
}
.right-hidden-menu > div:first-child {
  background: #867ec7;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.right-hidden-menu > div:first-child:hover {
  position: relative;
  top: 1px;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  color: white;
}
.right-hidden-menu > span {
  display: block;
  height : 1px;
  width: 130px;
  margin: auto;
  background-color: #acacad;
}
.mobile-menu {
  display: none;
}
.mobile-menu > i {
  position: relative;
  top: 35px;
  font-size: 20px;
  color: #acacad;
  cursor: pointer;
}
.left-hidden-menu {
  display: none;
  position: absolute;
  /* width: calc(100vw - 16.8px); */
  width: 100vw;
  top: 92px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 4px 4px 10px rgb(211, 211, 211);
  z-index: 9999;
}
.left-hidden-menu > span {
  display: block;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #acacad;
  text-align: center;
  line-height: 35px;
}
.left-hidden-menu > span:last-child {
  border: none;
}
.left-hidden-menu > span > a {
  display: block;
  width: 100%;
  height: 100%;
  color: #a0a0a0;
}
.left-hidden-menu > span > a:hover {
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  color: white;
}
.search-modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}
.search-modal-box {
  display: none;
  position: absolute;
  top: 15%;
  left: 50%; 
  transform:translateX(-50%);
  padding-bottom: 25px;
  min-height: 80px;
  width: 40%;
  background-color: #ffffff;
  z-index: 9999;
  overflow: hidden;
  user-select: none;
}
.search-input {
  width: 73%;
  height: 30px;
  padding: 2px 0 0 10px;
  margin: 30px 10px 10px 10%;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  outline: none;
  color: #7d7c83;
}
.search-input:focus {
  border: 1px solid #867ec7;
  border-radius: 10px;
}

.search-modal-box > i {
  display: inline-block;
  margin-left: 5px;
  color: #9c9c9c;
  cursor: pointer;
}
.search-modal-box > span {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 80px;
  height: 32px;
  background: linear-gradient(to right, #867ec7, #d57272) ;
  border-radius: 15px;
  font-family: 'GmarketSansMedium';
  font-size: 15px;
  color: #fcfcfc !important;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}
.search-modal-profile {
  width: 80%;
  height: 100px;
  margin: 5px 0 0 10%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(182, 182, 182);
  cursor: pointer;
}
.search-modal-profile:last-child {
  border-bottom: 0px;
}
.search-modal-profileImg {
  display: block;
  float: left;
  height: 80px;
  width: 80px;
  margin: 10px 10px;
  border-radius: 40px;
}
.search-modal-profileContent {
  display: block;
  position: relative;
  float: left;
  left: 10px;
  width: calc(80% - 40px);
  height: 100%;
  font-family: 'GmarketSansMedium';
}
.search-modal-profileContent > span {
  display: block;
  position: relative;
  overflow:hidden; 
  text-overflow:ellipsis; 
  white-space:nowrap;
}
.search-modal-profileContent > span:first-child {
  top: calc(50% - 25px);
  font-size: 18px;
  color: rgb(112, 112, 112);
}
.search-modal-profileContent > span:last-child {
  top: calc(50% - 20px);
  font-size: 14px;
  color:rgb(114, 114, 114);
}
.display-inline-block {
  display: inline-block;
}
.hidden {
  display: none;
}


@media only screen and (max-width: 1350px) {
  .header {
    grid-template-columns: auto 614px 307px;
  }
  .search-input {
    width: 72.5%;
  }
}
@media only screen and (max-width: 1220px) {
  .search-input {
    width: 71.5%;
  }
}
@media only screen and (max-width: 1150px) {
  .header {
    grid-template-columns: auto 614px auto;
  }
}
@media only screen and (max-width: 1080px) {
  .search-modal-box {
    width: 425.28px;
  }
  
}
@media only screen and (max-width: 1025px) {
  .header {
    grid-template-columns: 1fr 614px 1fr;
  }
  .header-right {
    display: none;
  }
  .right-dot {
    display: inline-block;
  }
}
@media only screen and (max-width: 800px) {
  .header {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header-center {
    display: none;
  }
  .logo {
    justify-self: center;
  }
  .mobile-menu {
    display: inline-block;
  }
}
@media only screen and (min-width: 1025px) {
  .right-hidden-menu {
    display: none;
  }
}
@media only screen and (min-width: 800px) {
  .left-hidden-menu {
    display: none;
  }
}