#header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0 4.5%;
  margin-bottom: 25px;
  height: 90px;
  background-color: #ffffff;
  box-shadow: 4px 4px 10px rgb(211, 211, 211);
  font-family: 'GmarketSansBold';
}
#logo {
  height: 40px;
  width: 60px;
  margin: 25px 0;
  font-size: 20px;
  line-height: 45px;
  background: #867ec7;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  cursor: pointer;
}
#headerCenter {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 89px;
}
#headerCenter > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 500px;
  height: 89px;
}
#headerCenter span {
  position: relative;
}
#headerCenter span::after {
  content: ""; 
  position: absolute; 
  bottom: -1px; left: 50%; 
  transform: translateX(-50%); 
  width: 0; height: 2px; 
  background: #867ec7;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  transition: all .2s ease-out;
}
#headerCenter span:hover::after {
  width: 100%;
}
#headerCenter a {
  display: inline-block;
  position: relative;
  top: 2px;
  height: 100%;
  color: #acacad;
  font-family: 'GmarketSansMedium';
  font-weight: 600;
}
#headerCenter a:hover {
  color: #6e6d74;
}
#headerRight > * {
  float: right;
  position: relative;
  top: 26px;
}
#headerRight > span {
  display: inline-block;
  width: 80px;
}
#logoutBtn {
  height: 40px;
  line-height: 40px;
  margin: 0 0.5vw;
}
#logoutBtn > a {
  color: #acacad;
  font-family: 'GmarketSansMedium';
  font-weight: 600;
}
#myPageBtn {
  padding: 5px 20px 3px 20px;
  border-radius: 30px;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  line-height: 30px;
  text-align: center;
}
#myPageBtn > a {
  color: white;
  font-family: 'GmarketSansMedium';
  font-size: 15px;
  font-weight: 600;
}
#headerRight > i {
  top: 38px;
  margin-right: 15px;
  color: #acacad;
  cursor: pointer;
}
#rightDot {
  display: none;
}
#rightDot > i {
  position: relative;
  top: 35px;
  float: right;
  font-size: 20px;
  color: #acacad;
  cursor: pointer;
}
.right-hidden-menu {
  display: none;
  position: absolute;
  top: 70px;
  right: 25px;
  width: 140px;
  height: 100px;
  background-color: white;
  box-shadow: 6px 6px 10px rgb(211, 211, 211);
  color: #acacad;
  z-index: 9999;
}
.right-hidden-menu > div {
  height : 49px;
  width: 140px;
  line-height: 50px;
  text-align: center;
}
.right-hidden-menu > div:first-child {
  background: #867ec7;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.right-hidden-menu > span {
  display: block;
  height : 1px;
  width: 130px;
  margin: auto;
  background-color: #acacad;
}
#mobileMenu {
  display: none;
}
#mobileMenu > i {
  position: relative;
  top: 35px;
  font-size: 20px;
  color: #acacad;
  cursor: pointer;
}
.search-modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}
.search-modal-box {
  display: none;
  position: absolute;
  top: 15%;
  left: 50%; 
  transform:translateX(-50%);
  width: 40%;
  height: 160px;
  background-color: #ffffff;
  z-index: 9999;
  overflow: hidden;
  user-select: none;
}
.search-modal-box > input {
  width: 63%;
  height: 30px;
  padding: 2px 0 0 10px;
  margin: 30px 10px 0 10%;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  outline: none;
  color: #7d7c83;
}
.search-modal-box > span {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 80px;
  height: 32px;
  background: linear-gradient(to right, #867ec7, #d57272) ;
  border-radius: 15px;
  color: #fcfcfc !important;
  font-family: 'GmarketSansMedium';
  font-size: 15px;
  text-align: center;
  line-height: 32px;
}
.search-modal-profile {
  width: 80%;
  height: 50px;
  margin: 15px 0 0 10%;
  line-height: 50px;
}
.search-modal-profileImg {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 10px 10px;
  background-color: #4977b3;
  border-radius: 40px;
}
.search-modal-profileId {
  display: inline-block;
  position: relative;
  top: -20px;
  left: 10px;
  width: calc(80% - 40px);
  font-family: 'GmarketSansMedium';
}
.display-inline-block {
  display: inline-block;
}


@media only screen and (max-width: 1350px) {
  #header {
    grid-template-columns: auto 614px 307px;
  }
  .search-modal-box > input {
    width: 62%;
  }
}
@media only screen and (max-width: 1220px) {
  .search-modal-box > input {
    width: 58%;
  }
}
@media only screen and (max-width: 1150px) {
  #header {
    grid-template-columns: auto 614px auto;
  }
}
@media only screen and (max-width: 1080px) {
  .search-modal-box {
    width: 425.28px;
  }
  
}
@media only screen and (max-width: 1025px) {
  #header {
    grid-template-columns: 1fr 614px 1fr;
  }
  #headerRight {
    display: none;
  }
  #rightDot {
    display: inline-block;
  }
}
@media only screen and (max-width: 800px) {
  #header {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #headerCenter {
    display: none;
  }
  #logo {
    justify-self: center;
  }
  #mobileMenu {
    display: inline-block;
  }
}

 