.diary {
  position: relative;
  top: 115px;
  width: 85%;
  margin: 0 auto;
  padding: 1% 7.5%;
}
.diary-title-wrap {
  margin: 0 auto 30px auto;
  padding: 0 25px;
  height: 45.6px;
}
.diary-title-wrap > span {
  display: block;
  float: left;
  font-family: 'GmarketSansMedium';
  font-size: 30px;
  background: #867ec7;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.diary-title-wrap > img {
  position: relative;
  top: 5px;
  float: left;
  margin-left: 20px;
  height: 25px;
  object-fit: cover;
  cursor: pointer;
}
