.diary {
  position: relative;
  top: 115px;
  width: 85%;
  height: calc(100vh - 148px);
  margin: 0 auto;
  padding: 1% 7.5%;
}
.diary-title-wrap {
  margin: 0 auto 30px auto;
  padding: 0 25px;
  height: 45.6px;
}
.diary-title-wrap > span {
  display: block;
  float: left;
  font-family: 'GmarketSansMedium';
  font-size: 30px;
  background: #867ec7;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.diary-title-wrap > img {
  position: relative;
  top: 5px;
  float: left;
  margin-left: 20px;
  height: 25px;
  object-fit: cover;
  cursor: pointer;
}
.diary-title-right {
  float: right;
  height: 100%;
}
.diary-title-right > span {
  display: inline-block;
  height: 100%;
  font-size: 18px;
  line-height: 45px;
  cursor: pointer;
}
.diary-title-right > span:first-child {
  margin-right: 20px;
}

/* diary list normal type */
.diary-list {
  display: block;
  float: left;
  width: calc(60% - 25px);
  height: 65vh;
  padding-left: 25px;
  margin-right: 30px;
  overflow-y: auto;
}
.diary-list::-webkit-scrollbar {
  width: 8px;
  /* background: none; */
  background: rgb(231, 231, 231);
  border-radius: 4px;
}
.diary-list::-webkit-scrollbar-thumb {
    background: rgb(206, 206, 206);
    border-radius: 4px;
    opacity: .4;
}
.diary-list::-webkit-scrollbar-track {
    background: none;
}
.diary-profile {
  display: block;
  float: left;
  width: calc(40% - 55px);
  height: 470px;
  box-shadow: 8px 8px 15px rgb(199, 199, 199);
  border-radius: 5px;
}
.diary-profile-img {
  height: 240px;
  width: 240px;
  margin: 50px auto 40px auto;
  background-size: cover;
  background-position: center center;
}
.diary-profile-nickname {
  width: 70%;
  margin: auto;
  margin-bottom: 15px;
  font-size: 26px;
  text-align: center;
}
.diary-profile-introduction {
  width: 70%;
  margin: auto;
  font-size: 18px;
  color: gray;
  text-align: center;
}
.no-post > img {
  display: block;
  width: 356px;
  margin: auto;
}
.no-post > span {
  display: block;
  width: 140px;
  height: 40px;
  margin: 15px auto;
  padding: 5px 10px;
  background: -webkit-linear-gradient(left, #867ec7, #d57272);
  background:    -moz-linear-gradient(right, #867ec7, #d57272);
  background:      -o-linear-gradient(right, #867ec7, #d57272);
  background:         linear-gradient(to right, #867ec7, #d57272);
  border-radius: 30px;
  font-size: 17px;
  color: white;
  text-align: center;
  line-height: 43px;
  cursor: pointer;
}