@charset "UTF-8";

.login-wrap {
    display: flex;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    left:0;
    top: 0;
}

.login-wrap-back {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9;
    left:0;
    background: rgb(79, 79, 79, 0.6);
}

.login-modal {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 600px;
    margin: auto;
    padding: 50px 40px 0 40px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    background: #fcfcfc;
    border-radius: 5px;
}

.login-modal-close {
    position: absolute;
    top: 10px;
    right: 17px;
    color: #7d7c83;
    font-size: 1.5rem;
    cursor: pointer;
}

.login-modal-title {
    display: inline-block;
    color: #7d7c83;
    font-weight: 100;
}

.login-modal-input {
    margin: 30px 0px 47px 0;
    width: 100%;
    height: 200px;
}

.login-modal-input input {
    width: 60%;
    height: 30%;
    margin-bottom: 22px;
    padding: 5px 0 0 15px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #7d7c83;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
}

.login-modal-input input::placeholder {
    color: #bbbbbb;
}

.login-modal-input input:focus { 
    outline-style: none;
    box-shadow: 0 0 0 1px #d57272;
}

.login-modal-submit {
    display: flex;
    width: 60%;
    height: 30%;
    margin: 0 auto;
    padding-top: 5px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #fcfcfc !important;
    background: linear-gradient(to right, #867ec7, #d57272) ;
    opacity: 0.9;
    cursor: pointer;
}

.login-join-modal {
    font-size: 0.8rem;
    color: #7d7c83 !important;
}

.login-join-modal span:nth-child(2) {
    color: #d57272;
    cursor: pointer;
}

.login-join-modal div {
    margin: 15px;
    font-size: 0.7rem;
}

.login-join-modal div::after {
    content: '';
    display: inline-block;
    width: 27%;
    height: 1px;
    margin: 0 0 3px 15px;
    background: hsl(0, 0%, 73%, 0.8);
}

.login-join-modal div::before {
    content: '';
    display: inline-block;
    width: 27%;
    height: 1px;
    margin: 0 15px 3px 0;
    background: hsl(0, 0%, 73%, 0.8);
}

.login-api-area {
    display: flex;
    margin: 10px auto;
    width: 60%;
    justify-content: space-evenly
}

.login-api-area>img, .login-api-naver {
    width: 20%;
    cursor: pointer;
    overflow: hidden;
}

.login-api-naver {
    position: relative;
}

.login-api-naver>img{
    position: absolute;
    top: 0;
    left: 0;
}

#naverIdLogin a {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#naverIdLogin img {
    display: none;
}

@media only screen and (max-width: 500px) {
    .login-modal, input {
        font-size: 0.8rem !important;
    }
    .login-modal {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        padding: 60px 60px 0 60px;
    }

    .login-modal-input {
        margin: 30px 0 20px 0;
        width: 100%;
        height: 200px;
    }

    .login-modal-input input, .login-modal-submit {
        width: 100%;
        height: 22%;
    }
    
    .login-join-modal div {
        margin: 15px 0;
        font-size: 0.7rem;
    }

    .login-join-modal div::after {
        width: 39%;
        margin: 0 0 3px 15px;
    }

    .login-join-modal div::before {
        width: 39%;
        margin: 0 15px 3px 0;
    }
    
    .login-api-area {
        margin: 0 auto;
        width: 100%;
    }
}