@charset "UTF-8";

.myPage-wrap {
    width: 1200px;
    height: 700px;
    margin: 22vh auto;
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 1.35fr;
    grid-template-columns : 1fr 2.8fr;
}

.myPage-wrap > div {
    background: #FFF;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgb(199, 199, 199);
}

.myPage-profile-img {
    width: 160px;
    height: 160px;
    border-radius: 70%;
    margin: 15% auto 0;
    overflow: hidden;
}

.myPage-profile-img img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.myPage-profile-nickname {
    display: block;
    padding: 9% 0;
    text-align: center;
}

.myPage-cate-area {
    display: flex;
    flex-direction: column;
}

.myPage-cate-area > div {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative;
}

.myPage-cate-area > div:hover, .myPage-cate-clicked {
    background: -webkit-linear-gradient(left, #867ec7, #d57272);
    background:    -moz-linear-gradient(right, #867ec7, #d57272);
    background:      -o-linear-gradient(right, #867ec7, #d57272);
    background:         linear-gradient(to right, #867ec7, #d57272);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
}

.myPage-cate-area div:not(:first-child)::after {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    position: absolute;
    top: 0;
    background: hsl(0, 0%, 73%, 0.8);
}

@media only screen and (max-width: 500px) {
    .myPage-wrap {
        width: 100vw;
        height: 100vh;
        margin: 111px auto;
        display: flex;
        flex-direction: column;
    }

    .myPage-wrap > div {
        background: none;
        border-radius: none;
        box-shadow: none;
    }

    .myPage-profile-area {
        display: none;
    }

    .myPage-cate-area {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .myPage-cate-area > div {
        display: flex;
        width: auto;
        font-size: 0.9rem;
    }

    .myPage-cate-area div:not(:first-child)::after {
        background: none;
    }
}